@charset "utf-8";





form[name="form"] .inputset {
    width: 40%;
    margin-left: auto;
    margin-bottom: 3rem;
}
.radioset-wrap {
    display: flex;
    flex-wrap: wrap;
}
.radioset {
    margin-right: 5px;
    margin-bottom: 10px;
}
/* 미디어 쿼리: 화면 폭이 600px 이하일 때 스타일 변경 */
@media (max-width: 600px) {
    .radioset {
        width: 100%;
        margin-right: 0;
    }
}


/* 모달 스타일 */
.modal {
    display: none; /* 초기에는 모달 창을 숨깁니다. */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
}

/* 버튼 스타일 */
#confirmBtn, #cancelBtn {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#confirmBtn:hover, #cancelBtn:hover {
    background-color: #004494;
}


/* thpart-HmlqLtFlNZ [HmlqLtFlNZ] */
.thpart-HmlqLtFlNZ .contents-container { position: relative; height: 36rem; text-align: center; }
.thpart-HmlqLtFlNZ .contents-backimg { width: 100%; height: 100%; object-fit: cover; }
.thpart-HmlqLtFlNZ .contents-body { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 2; padding: 2.4rem; }
.thpart-HmlqLtFlNZ .contents-title { font-family: var(--ff-ko2); font-size: 4rem; line-height: 4.2rem; font-weight: 500; color: white; }
.thpart-HmlqLtFlNZ .contents-sub { font-family: var(--ff-ko2); font-size: 2rem; margin-top: 5rem; line-height: 4.2rem; font-weight: 400; color: white; }
.thpart-HmlqLtFlNZ .btnset { width: 100%; max-width: 17.6rem; margin-top: 2.4rem; padding: 0 3rem; background-color: var(--white); border: 0; color: var(--text-color1); }
@media (max-width: 992px) {
    .thpart-HmlqLtFlNZ .contents-container { height: 20rem; }
    .thpart-HmlqLtFlNZ .contents-title { line-height: 3.4rem; font-size: 2.4rem; }
    .thpart-HmlqLtFlNZ .btnset { margin-top: 1.2rem; max-width: 13.4rem; }
}

/* thpart-HmlqLtFlNZ [HmlqLtFlNZ] */
.thpart-HmlqLtFlNZ .contents-container { position: relative; height: 36rem; text-align: center; }
.thpart-HmlqLtFlNZ .contents-backimg { width: 100%; height: 100%; object-fit: cover; }
.thpart-HmlqLtFlNZ .contents-body { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 2; padding: 2.4rem; }
.thpart-HmlqLtFlNZ .contents-title { font-family: var(--ff-ko2); font-size: 4rem; line-height: 4.2rem; font-weight: 500; color: white; }
.thpart-HmlqLtFlNZ .contents-sub { font-family: var(--ff-ko2); font-size: 2rem; margin-top: 5rem; line-height: 4.2rem; font-weight: 400; color: white; }
.thpart-HmlqLtFlNZ .btnset { width: 100%; max-width: 17.6rem; margin-top: 2.4rem; padding: 0 3rem; background-color: var(--white); border: 0; color: var(--text-color1); }
@media (max-width: 992px) {
    .thpart-HmlqLtFlNZ .contents-container { height: 20rem; }
    .thpart-HmlqLtFlNZ .contents-title { line-height: 3.4rem; font-size: 2.4rem; }
    .thpart-HmlqLtFlNZ .btnset { margin-top: 1.2rem; max-width: 13.4rem; }
}

/* hooms-N36 [iSLqLSg68L] */
.hooms-N36 .contents-inner { padding: 10rem 2.4rem; }
.hooms-N36 .textset { margin-top: 0; margin-bottom: 5rem; }
.hooms-N36 .textset-tit { text-align: center; }
.hooms-N36 .tabset.tabset-brick { margin-bottom: 4rem; }
.hooms-N36 .contents-search { display: flex; justify-content: space-between; align-items: center; margin-bottom: 0;}
.hooms-N36 .contents-result { font-size: 1.8rem; font-weight: 500; }
.hooms-N36 .contents-result span { color: var(--secondary); }
.hooms-N36 .contents-form { display: flex; align-items: center; gap: 0.8rem; }
.hooms-N36 .selectset { width: 23rem; }
.hooms-N36 .selectset .btn::after { color: var(--text-color1); }
.hooms-N36 .inputset { width: 40.3rem; }
.hooms-N36 .inputset-input { width: 100%; }
.hooms-N36 .contents-btn { margin-top: 4rem; text-align: center; }
.hooms-N36 .contents-btn .btnset { width: 100%; max-width: 26rem; }
.hooms-N36 .pagiset { margin-top: 6rem; }
.hooms-N36 .modalset { display: flex; flex-direction: column; align-items: center; position: fixed; transition: 0.3s; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; max-width: 62rem; padding: 8rem 2rem; background-color: var(--white); visibility: hidden; opacity: 0; z-index: 999; }
.hooms-N36 .modalset.modalset-active { visibility: visible; opacity: 1; }
.hooms-N36 .modal-header { margin-bottom: 1.2rem; }
.hooms-N36 .modal-title { font-size: var(--fs-h6); font-weight: 700; text-align: center; }
.hooms-N36 .modal-body { max-height: 26rem; overflow-y: auto; }
.hooms-N36 .modal-body p { padding: 0 1.7rem; text-align: center; font-size: var(--fs-p1); line-height: var(--lh-p1); font-weight: 400; }
.hooms-N36 .modal-footer { width: 100%; margin-top: 4rem; text-align: center; }
.hooms-N36 .modal-footer .btnset { width: 100%; max-width: 17.6rem; }
.hooms-N36 .modalset-dim { display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(17, 17, 17, 0.5); z-index: 300; }
@media (max-width: 992px) {
    .hooms-N36 .contents-inner { padding: 6rem 2.4rem; }
    .hooms-N36 .textset-tit { text-align: left; }
    .hooms-N36 .textset { margin-bottom: 2.4rem; text-align: left; }
    .hooms-N36 .tabset.tabset-brick { margin-bottom: 2.4rem; }
    .hooms-N36 .contents-search { flex-direction: column; align-items: flex-start; width: 100%; margin-bottom: 2.4rem; }
    .hooms-N36 .contents-result { margin-bottom: 0.8rem; font-size: 1.4rem; }
    .hooms-N36 .contents-form { flex-direction: column; align-items: flex-start; width: 100%; }
    .hooms-N36 .selectset { width: 100%; }
    .hooms-N36 .inputset { width: 100%; }
    .hooms-N36 .contents-btn { margin-top: 2.4rem; }
    .hooms-N36 .contents-btn .btnset { max-width: 20rem; }
    .hooms-N36 .pagiset { margin-top: 4rem; }
    .hooms-N36 .pagiset-link { width: 3.2rem; height: 3.2rem; }
    .hooms-N36 .modalset { width: calc(100% - 4.8rem); padding: 4rem 2rem; }
    .hooms-N36 .modal-footer { width: 100%; margin-top: 2rem; }
    .hooms-N36 .modal-footer .btnset { width: calc(100% / 2 - 0.4rem); height: 3.6rem; }
    .hooms-N36 .modal-footer .btnset+.btnset { margin-left: 0.4rem; }
}

/* hooms-N41 [HNlqLEXO3h] */
.contents-inner { padding: 10rem 2.4rem; }
.contents-result { font-size: 1.8rem; font-weight: 500; margin-bottom: 2rem; }
.contents-result span { color: var(--secondary); }
.contents-cardlist { display: none; border-top: 1px solid var(--primary); }
.contents-cardlist.contents-cardlist-active { display: block; }
.cardset { padding: 1.6rem 0; border-bottom: 1px solid var(--line-color1); }
.cardset.cardset-hor .cardset-figure { width: 40rem; height: 20rem; }
.contents-ico { text-align: center; }
.contents-figure { display: inline-block; cursor: pointer; }
.no { width: 10rem; height: 20rem; display: flex; align-items: center; justify-content: center; }
.contents-info { display: flex; align-items: center; justify-content: center; }
.contents-name { font-weight: 400;}
.cardset-tit-group { margin-top: 1.6rem; }
.cardset-tit { font-size: var(--fs-h6); line-height: 2.8rem; font-weight: 500; }
.cardset-desc { margin-top: 0.8rem; }
.contents-button { margin-left: auto;}
.contents-button > input { margin-bottom: 1rem;}
@media (max-width: 992px) {
    .contents-inner { padding: 6rem 2.4rem; }
    .cardset { flex-direction: column; padding: 1.2rem 0; }
    .cardset.cardset-hor .cardset-body { width: 100%; padding: 0; padding-top: 1.4rem; }
    .contents-search { flex-direction: column; align-items: flex-start; margin-bottom: 2.4rem; }
    .contents-result { margin-bottom: 0.8rem; font-size: 1.4rem; }
    .selectset { width: 100%; }
    .cardset.cardset-hor .cardset-figure { width: 100%; }
    .contents-ico-item { width: 2rem; height: 2rem; }
    .contents-ico-item+.contents-ico-item { margin-left: 0; }
    .cardset-tit-group { margin-top: 1.4rem; }
    .cardset-tit { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
}
@media (max-width: 768px) {
    .cardset.cardset-hor .cardset-figure { height: 10rem; }
}

/* hooms-N53 [lYlQluvFkB] */
.hooms-N53 .contents-inner { padding: 10rem 2.4rem; }
.hooms-N53 .contents-container { width: 100%; max-width: 62rem; margin: 0 auto; }
.hooms-N53 .textset { margin-bottom: 4rem; }
.hooms-N53 .textset-tit { text-align: center; }
.hooms-N53 .contents-form-top { padding: 1rem 0; border-top: 1.5px solid var(--line-color4); }
.hooms-N53 .contents-form-bottom { padding: 4rem 0;  }
.hooms-N53 .inputset-label { margin-bottom: 3rem; }
.hooms-N53 th .label  { font-size: 20px; font-weight: 500; text-align: left;}
.hooms-N53 th .req span { font-size: 20px; font-weight: 500; text-align: left; color: var(--secondary);}
.hooms-N53 td { font-size: 20px; color: red;}
.hooms-N53 .inputset > label {  display: flex; align-items: center; }

/*.hooms-N53 .inputset > label::after { content: ""; display: block; height: 100%; !* 세로선의 높이를 부모 요소 높이와 같게 설정 *! width: 1px; !* 세로선의 너비 *! background-color: var(--line-color1); !* 연한 세로선의 색상 *! margin-left: 10px; !* 간격 조절 *!}*/
/*.hooms-N53 .inputset { align-items: flex-end; }*/
.hooms-N53 .inputset h6 { display: inline-block; width: 30%; }
.hooms-N53 .contents-form-bottom .btnset { width: 100%; max-width: 17.6rem; padding: 1.6rem; margin-left: 0.8rem; }
.hooms-N53 .contents-form-bottom .selectset { position: relative; margin-left: 3rem; }
.hooms-N53 .contents-form-bottom .selectset::before { content: '@'; position: absolute; top: 50%; right: 100%; transform: translateY(-50%); margin-right: 0.8rem; font-weight: 500; color: var(--text-color4); }
.hooms-N53 .inputset-input { width: 50%; }
.hooms-N53 .checkset .checkset-input+.checkset-label { width: 2.4rem; height: 2.4rem; border-color: var(--primary); }
.hooms-N53 .checkset .checkset-input.input-fill+.checkset-label::before { font-size: 2.4rem; }
.hooms-N53 .checkset-text { font-size: 1.8rem; }
.hooms-N53 .contents-btn { display: flex; justify-content: center; margin-top: 4rem; text-align: right; }
@media (max-width: 992px) {
    .hooms-N53 .contents-inner { padding: 6rem 2.4rem; }
    .hooms-N53 .textset { margin-bottom: 2.4rem; }
    .hooms-N53 .contents-form-top { padding: 2.4rem 0; }
    .hooms-N53 .inputset.inputset-label { flex-direction: row; }
    /*.hooms-N53 .contents-form-top .contents-radioset { flex-direction: column; align-items: flex-start; }*/
    /*.hooms-N53 .contents-form-top .contents-radioset .radioset+.radioset { margin-left: 0; margin-top: 0.8rem; }*/
    /*.hooms-N53 .contents-form-top .radioset .radioset-input+.radioset-label { width: 2rem; height: 2rem; }*/
    /*.hooms-N53 .contents-form-top .radioset .radioset-input.input-line:checked+.radioset-label::before { font-size: 2rem; }*/
    .hooms-N53 .contents-form-bottom { padding: 2.4rem 0; }
    .hooms-N53 .contents-alarm { padding: 2.4rem 0; }
    .hooms-N53 .checkset .checkset-input+.checkset-label { width: 2rem; height: 2rem; }
    .hooms-N53 .checkset .checkset-input.input-fill+.checkset-label::before { font-size: 2rem; }
    .hooms-N53 .checkset-text { font-size: 1.4rem; }
    .hooms-N53 .contents-submit { margin-top: 4rem; }
}



/* hooms-N31 [viLqMAGCT2] */
.hooms-N31 .contents-inner { padding: 10rem 2.4rem; }
.hooms-N31 .contents-container { width: 100%; max-width: 62rem; margin: 0 auto; }
.hooms-N31 .textset { margin-bottom: 4rem; }
.hooms-N31 .textset-tit { text-align: center; }
.hooms-N31 .tabset.tabset-brick { margin-bottom: 4rem; }
.hooms-N31 .contents-search { display: flex; justify-content: space-between; align-items: center; margin-bottom: 2rem; }
.hooms-N31 .inputset { width: 40.3rem; }
.hooms-N31 .contents-result { font-size: 1.8rem; font-weight: 500; }
.hooms-N31 .contents-result span { color: var(--secondary); }
.hooms-N31 .contents-cardlist { display: none; }
.hooms-N31 .contents-cardlist.contents-cardlist-active { display: flex; flex-wrap: wrap; }
.hooms-N31 .cardset { width: calc(100% / 4); height: 100%; padding: 2rem; }
.hooms-N31 .cardset:nth-child(4n) { padding-right: 0; }
.hooms-N31 .cardset:nth-child(4n + 1) { padding-left: 0; }
.hooms-N31 .cardset .cardset-figure { width: 100%; height: 25rem; }
.hooms-N31 .cardset .cardset-body { margin-top: 1.4rem; }
.hooms-N31 .cardset-tit-group { display: flex; align-items: center; }
.hooms-N31 .cardset-tit { width: 100%; flex-shrink: 0; font-size: var(--fs-p1); line-height: var(--lh-p1); text-overflow: ellipsis; white-space: nowrap; overflow: hidden; font-weight: 500; }
.hooms-N31 .cardset-desc { display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; line-height: var(--lh-p2); text-overflow: ellipsis; overflow: hidden; font-size: var(--fs-p2); }
.hooms-N31 .cardset-badge { display: inline-block; flex-shrink: 0; width: 7.8rem; height: 3.2rem; line-height: 3.2rem; margin-right: 0.8rem; color: var(--text-color5); font-size: var(--fs-p2); text-align: center; }
.hooms-N31 .cardset-badge.badge-color1 { background-color: var(--secondary); }
.hooms-N31 .cardset-badge.badge-color2 { background-color: #666666; }
.hooms-N31 .cardset-desc { margin-top: 0.8rem; }
.hooms-N31 .pagiset { margin-top: 6rem; }
@media (max-width: 992px) {
    .hooms-N31 .contents-inner { padding: 6rem 2.4rem; }
    .hooms-N31 .textset { margin-bottom: 2.4rem; }
    .hooms-N31 .tabset.tabset-brick { margin-bottom: 2.4rem; }
    .hooms-N31 .cardset { width: 100%; padding: 0; }
    .hooms-N31 .cardset+.cardset { padding-top: 2.4rem; }
    .hooms-N31 .contents-cardlist.contents-cardlist-active { flex-direction: column; }
    .hooms-N31 .cardset .cardset-body { width: 100%; padding: 0; }
    .hooms-N31 .contents-search { flex-direction: column; align-items: flex-start; margin-bottom: 2.4rem; }
    .hooms-N31 .contents-result { margin-bottom: 0.8rem; font-size: 1.4rem; }
    .hooms-N31 .inputset { width: 100%; }
    .hooms-N31 .cardset-tit { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
    .hooms-N31 .cardset-badge { width: 5.6em; height: 2.5rem; line-height: 2.5rem; }
    .hooms-N31 .cardset .cardset-figure { width: 100%; }
    .hooms-N31 .cardset-desc { display: block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
    .hooms-N31 .pagiset-link { width: 3.2rem; height: 3.2rem; }
}
@media (max-width: 768px) {
    .hooms-N31 .cardset .cardset-figure { height: 12rem; }
}




