header-left@charset "utf-8";



/* opilsol-N4 [muLPW5z3N1] */
.opilsol-N4 { margin-bottom: 7rem; }
.opilsol-N4 .visual-container { overflow: hidden; position: relative; width: 100%; height: 100vh; }
.opilsol-N4 .visual-container .visual-swiper,.opilsol-N4 .visual-container .swiper-wrapper { height: inherit; }
.opilsol-N4 .visual-container .swiper-slide { width: 100%; height: 80%; background-position: center top; background-size: cover; background-repeat: no-repeat; }
.opilsol-N4 .visual-container .swiper-slide .visual-bg { width: 100%; height: 100vh; object-fit: cover; }
.opilsol-N4 .visual-container .visual-text-box { color: #000000; position: absolute; width: calc(100% - 3rem); max-width: 1280px; left: 50%; top: calc(50% - 2rem); transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); }
.opilsol-N4 .visual-container .visual-text-box .visual-title {
 margin-bottom: 1.9rem;
 line-height: 1.3;
 font-family: 'Nanum Barun Gothic', sans-serif; /* 변경하려는 글꼴의 이름으로 수정하세요 */
 font-size: var(--vt-h1);
 font-weight: 700;
 color: #fcfcf1;
 text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.opilsol-N4 .visual-container .visual-text-box .visual-subtitle { color: #000000; opacity: 0.8; max-width: 55rem; line-height: 1.5; font-family: var(--ff-ko); font-size: var(--vt-h2); font-weight: 400; letter-spacing: -0.1rem; color: var(--text-color5); }
.opilsol-N4 .visual-container .visual-text-box .visual-subtitle .br { display: inline; color: Hex: #dad295; }
.opilsol-N4 .visual-container .control-wrap { z-index: 10; position: absolute; left: 50%; top: calc(50% - 2rem); width: calc(100% - 3rem); height: 22rem; max-width: 1280px; transform: translate(-50%, -50%); transform-origin: center top; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); }
.opilsol-N4 .visual-container .pagination_fraction { position: absolute; left: 0; top: -5rem; width: 100%; text-align: left; font-weight: 100; color: var(--text-color5); }
.opilsol-N4 .visual-container .pagination_fraction .current,.opilsol-N4 .visual-container .pagination_fraction .all { font-size: var(--fs-h5); font-family: var(--ff-po); font-weight: 700; color: var(--text-color5); }
.opilsol-N4 .visual-container .pagination_fraction .all { opacity: 0.5; position: relative; margin-left: 3rem; }
.opilsol-N4 .visual-container .pagination_fraction .all::before { position: absolute; content: ""; left: -1.5rem; top: 0.5rem; width: 2px; height: 1.5rem; background-color: var(--white); transform: rotate(30deg); -webkit-transform: rotate(30deg); -moz-transform: rotate(30deg); -ms-transform: rotate(30deg); -o-transform: rotate(30deg); }
.opilsol-N4 .visual-container .control-bottom { position: absolute; display: flex; justify-content: flex-start; align-items: center; width: 100%; bottom: -6rem; }
.opilsol-N4 .visual-container .swiper-pagination { position: static; margin-right: 0.8rem; text-align: left; }
.opilsol-N4 .visual-container .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal { display: flex; justify-content: flex-start; align-items: center; width: auto; }

.opilsol-N4 .visual-container .swiper-pagination-bullet::after { position: absolute; left: -0.9rem; top: -0.9rem; content: ""; width: 2.4rem; height: 2.4rem; border: 1px solid var(--white); border-radius: 1.2rem; transform: scale(0); -webkit-border-radius: 1.2rem; -moz-border-radius: 1.2rem; -ms-border-radius: 1.2rem; -o-border-radius: 1.2rem; -webkit-transform: scale(0); -moz-transform: scale(0); -ms-transform: scale(0); -o-transform: scale(0); }
.opilsol-N4 .visual-container .swiper-pagination-bullet-active::after { transform: scale(1); transition: transform 0.2s; -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); -webkit-transition: transform 0.2s; -moz-transition: transform 0.2s; -ms-transition: transform 0.2s; -o-transition: transform 0.2s; }
.opilsol-N4 .swiper-button-play { display: none; }
.opilsol-N4 .swiper-button-play,.opilsol-N4 .swiper-button-pause { flex-shrink: 0; width: 2rem; height: 2rem; opacity: 0.5; cursor: pointer; }
.opilsol-N4 .swiper-button-play img,.opilsol-N4 .swiper-button-pause img { width: 100%; height: 100%; object-fit: cover; vertical-align: top; }
.opilsol-N4 .swiper-button-play:hover,.opilsol-N4 .swiper-button-pause:hover { opacity: 1; }
@media (max-width: 1366px) {
 .opilsol-N4 .visual-container .visual-text-box .visual-subtitle { max-width: 54rem; }
}
@media (max-width: 1024px) {
 .opilsol-N4 .visual-container { height: 80rem; }
 .opilsol-N4 .visual-container .swiper-slide { height: 80rem; }
 .opilsol-N4 .visual-container .swiper-slide .visual-bg { height: 80rem; }
 .opilsol-N4 .visual-container .visual-text-box .visual-title .br { display: block; }
 .opilsol-N4 .visual-container .visual-text-box .visual-subtitle .br { display: block; }
 .opilsol-N4 .visual-container .visual-text-box .visual-subtitle { max-width: 100%; }
}

/* opilsol-N5 [KElPW5Z3Nk] */
.opilsol-N5 { margin-bottom: 5rem; }
.opilsol-N5>.content-container { overflow: hidden; position: relative; padding: 8rem 0 13rem 8rem; width: 100%; }
.opilsol-N5>.content-container::after { position: absolute; left: 0; bottom: 0; content: ""; width: 100%; height: 46.4rem; background-color: var(--con-bg-gray); }
.opilsol-N5 .textset { padding: 2rem 0; }
.opilsol-N5 .textset .textset-tit { line-height: var(--lh-h1); font-size: var(--fs-h1); font-family: var(--ff-po); letter-spacing: -0.1rem; }
.opilsol-N5 .textset .textset-tit+.textset-desc { margin-top: 1.6rem; line-height: var(--lh-h6); font-weight: 500; color: var(--text-color2); }
.opilsol-N5 .container-md { position: relative; }
.opilsol-N5 .swiper-wrapper { transform: translate3d(0px, 0px, 0px); }
.opilsol-N5 .slide-container { margin: 4rem 0 0; padding-bottom: 4rem; width: 100%; height: 50.7rem; }
.opilsol-N5 .slide-container .swiper-slide .link-slide { width: 100%; }
.opilsol-N5 .cardset { overflow: hidden; max-height: 49.7rem; width: 100%; background-color: var(--white); }
.opilsol-N5 .slide-container .swiper-slide .cardset:hover { box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1); }
.opilsol-N5 .slide-container .swiper-slide .cardset:hover .btnset { display: inline-flex; }
.opilsol-N5 .cardset .cardset-figure { width: 100%; height: 28rem; }
.opilsol-N5 .cardset.cardset-border { border: 0 none; }
.opilsol-N5 .cardset .cardset-body { padding: 3.2rem; width: 100%; }

.opilsol-N5 .cardset .cardset-body .cardset-desc { overflow: hidden; margin: 2.4rem 0rem 0; width: 100%; height: 5rem; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; font-size: 1.6rem; font-weight: 400; color: var(--text-color3); }
.opilsol-N5 .btnset { display: none; margin-top: 2.4rem; position: relative; font-size: var(--fs-p1); font-weight: 500; color: #949494; }
.opilsol-N5 .swiper-control { position: absolute; right: 4rem; top: -7.5rem; }
.opilsol-N5 .swiper-button-next::after,.opilsol-N5 .swiper-button-prev::after { display: none; }
.opilsol-N5 .swiper-button-prev { left: -4rem; background: url("../icons/ico_slide_arrow_black.svg") center no-repeat; transform: rotate(180deg); filter: invert(50%); -webkit-filter: invert(50%); }
.opilsol-N5 .swiper-button-next { left: 0; background: url("../icons/ico_slide_arrow_black.svg") center no-repeat; filter: invert(50%); -webkit-filter: invert(50%); }
.opilsol-N5 .swiper-button-prev:hover,.opilsol-N5 .swiper-button-next:hover { filter: invert(0); -webkit-filter: invert(0); }
@media (max-width: 1366px) {
 .opilsol-N5>.content-container { padding: 0 0 0 1.6rem; }
 .opilsol-N5 .slide-container { overflow: hidden; margin: 4rem 0 0; padding-bottom: 4rem; width: calc(100% + 4rem); height: 47.5rem; }
 .opilsol-N5 .swiper-control { right: 5.6rem; }
}
@media (max-width: 1024px) {
 .opilsol-N5 .container-md { width:100%; }
 .opilsol-N5 .slide-container { width: 100%; }
 .opilsol-N5>.content-container::after { height: 37.9rem; }
 .opilsol-N5 .textset .textset-tit+.textset-desc { margin-top: 0.6rem; }
 .opilsol-N5 .cardset { max-height: 37.9rem; }
 .opilsol-N5 .cardset .cardset-figure { height: 20rem; }
 .opilsol-N5 .cardset .cardset-body { padding: 2.4rem; }
 .opilsol-N5 .cardset .cardset-body .cardset-desc { margin: 1.6rem 0 0; }
 .opilsol-N5 .swiper-control { left: 0; top: -3rem; width: 10rem; }
 .opilsol-N5 .swiper-button-prev, .opilsol-N5 .swiper-button-next { width: 2.8rem; height: 2.8rem; background-size: 2rem 1.4rem; }
 .opilsol-N5 .swiper-button-prev { left: 0; }
 .opilsol-N5 .swiper-button-next { left: 3rem; }
}
@media (max-width: 922px) {
 .opilsol-N5 .slide-container .swiper-slide .cardset .btnset { display: inline-flex; }
}

/* opilsol-N2 [TzlpwCWk2A] */
.opilsol-N2 { z-index: 5000; position: fixed; width: 100%; height: 8rem; }
.opilsol-N2::after { content: ""; position: absolute; top: 0; left: 0; height: 100%; width: 100%; transition: 0.4s; background-color: var(--white); }
.opilsol-N2:hover::after { background-color: var(--white); }
.opilsol-N2.block-active::after { background-color: var(--white); height: 28.4rem; }
.opilsol-N2.block-active .header-sublist { display: block; height: 16.4rem; }
.opilsol-N2 .header-container { display: flex; align-items: center; justify-content: space-between; position: relative; width: 100%; height: 8rem; padding: 0 8rem; z-index: 100; }
.opilsol-N2 .header-title { margin-bottom: 0; }
.opilsol-N2 .header-title a { width: 18.2rem; height: 8rem; }
.opilsol-N2 .header-title img { width: 100%; height: 100%; object-fit: contain; }
.opilsol-N2 .header-center { position: absolute; top: 0; left: 50%; transform: translateX(-50%); }
.opilsol-N2 .header-member { display: none; }
.opilsol-N2 .header-gnblist { display: flex; }
.opilsol-N2 .header-gnbitem { position: relative; }
.opilsol-N2 .header-gnblink { position: relative; padding: 2.8rem 3rem; font-size: var(--fs-h6); font-weight: 500; text-align: center; white-space: nowrap; color: var(--text-color1); }
.opilsol-N2 .header-gnblink span::after { content: ""; position: absolute; left: 3rem; bottom: 0; height: 0.2rem; width: calc(100% - 6rem); transition: 0.3s; transform: scaleX(0); background-color: var(--black); }
.opilsol-N2 .header-gnblink.on span::after { content: ""; transform: scaleX(1); }
.opilsol-N2 .header-sublist { display: none; position: absolute; width: 100%; padding: 2.5rem 0; height: 0; }
.opilsol-N2 .header-sublink { width: 100%; padding: 0 0 1rem 0; text-align: center; font-size: var(--fs-p2); font-weight: 500; color: var(--text-color2); white-space: nowrap; }
.opilsol-N2 .header-sublink:hover { color: var(--text-color1); }
.opilsol-N2 .header-right { display: flex; align-items: center; }
.opilsol-N2 .header-langbtn { position: relative; padding: 1.2rem 2rem 1.2rem 0.8rem; border: none; background: none; font-weight: 500; color: var(--text-color5); }
.opilsol-N2 .header-langbtn::after { content: ""; position: absolute; right: 0; top: 50%; transform: translateY(-50%); width: 1.6rem; height: 1.6rem; background: url("../icons/ico_downarrow_white.svg") no-repeat top right/cover; }
.opilsol-N2 .header-langlist { position: absolute; top: 100%; left: 0; z-index: 200; background-color: var(--text-color1); }
.opilsol-N2 .header-langitem { max-height: 0; overflow: hidden; transition: 0.4s; }
.opilsol-N2 .header-langitem a { padding: 0.8rem 1.6rem; color: var(--text-color5); }
.opilsol-N2 .header-utils { display: flex; align-items: center; }
.opilsol-N2 .header-utils button { width: 3.2rem; height: 3.2rem; margin-left: 1.8rem; background: none; border: none; }
.opilsol-N2 .header-utils button img { width: 100%; height: 100%; object-fit: cover; vertical-align: top; }
.opilsol-N2 .header-utils .btn-user button img { width: 100%; height: 100%; object-fit: cover; }
.opilsol-N2 .header-utils .btn-moclose { display: none; }
.opilsol-N2 .header-utils .btn-momenu { display: none; }
.opilsol-N2 .header-fullmenu { position: fixed; z-index: 99999; padding: 0 2.4rem; background-color: var(--white); transition: 0.3s; opacity: 0; visibility: hidden; overflow: hidden; }
.opilsol-N2 .header-fullmenu.fullmenu-right { width: 0; height: 100%; top: 0; right: 0; }
.opilsol-N2 .header-fullmenu.fullmenu-left { width: 0; height: 100%; top: 0; left: 0; }
.opilsol-N2 .header-fullmenu.fullmenu-top { top: 0; left: 0; width: 100%; height: 0; }
.opilsol-N2 .header-fullmenu.fullmenu-bottom { bottom: 0; left: 0; width: 100%; height: 0; }
.opilsol-N2 .header-fullmenu.fullmenu-active { width: 100%; height: 100vh; opacity: 1; visibility: visible; }
.opilsol-N2 .fullmenu-wrapper { position: relative; top: 2.6rem; width: 100%; margin: 0 auto; padding: 0 8rem; }
.opilsol-N2 .fullmenu-head { display: flex; justify-content: space-between; align-items: center; margin-bottom: 20rem; }
.opilsol-N2 .fullmenu-title { margin-bottom: 0; }
.opilsol-N2 .fullmenu-title a { width: 21.6rem; height: 4.3rem; }
.opilsol-N2 .fullmenu-title img { width: 100%; height: 100%; object-fit: cover; }
.opilsol-N2 .fullmenu-member { display: flex; }
.opilsol-N2 .fullmenu-member li { position: relative; }
.opilsol-N2 .fullmenu-member li a { padding: 1.2rem; font-size: var(--fs-p1); font-weight: 500; color: var(--text-color5); }
.opilsol-N2 .fullmenu-member li+li::after { content: ""; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 0.1rem; height: 1.4rem; background-color: rgba(255, 255, 255, 0.2); }
.opilsol-N2 .fullmenu-gnblist { display: flex; justify-content: center; margin: 0 auto; max-width: 134.5rem; }
.opilsol-N2 .fullmenu-gnbitem { width: 20%; }
.opilsol-N2 .fullmenu-gnbitem+.fullmenu-gnbitem { margin-left: 4rem; }
.opilsol-N2 .fullmenu-gnblink { position: relative; width: 100%; padding-bottom: 5rem; text-align: center; font-size: var(--ht-md); font-weight: 700; font-family: var(--ff-ko); color: var(--text-color1); }
.opilsol-N2 .fullmenu-gnblink::after { content: ""; position: absolute; left: 50%; bottom: 0; display: block; width: 0; height: 0.2rem; background-color: var(--primary); transform: translateX(-50%); transition: 0.2s; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); }
.opilsol-N2 .fullmenu-gnblink.on::after { width: 4rem; }
.opilsol-N2 .fullmenu-sublist { padding-top: 4rem; text-align: center; }
.opilsol-N2 .fullmenu-subitem+.fullmenu-subitem { padding-top: 0.8rem; }
.opilsol-N2 .fullmenu-sublink { font-size: var(--fs-h6); font-weight: 500; color: var(--text-color1); }
.opilsol-N2 .fullmenu-sublink:hover { color: var(--primary); }
.opilsol-N2 .fullmenu-close { position: fixed; right: 8rem; top: 2.4rem; width: 3.2rem; height: 3.2rem; background-color: transparent; border: none; }
.opilsol-N2 .fullmenu-close img { width: 100%; height: 100%; object-fit: cover; }
.opilsol-N2 .header-search { position: fixed; z-index: 99999; padding: 0 2.4rem; background-color: var(--white); transition: 0.3s; opacity: 0; visibility: hidden; }
.opilsol-N2 .header-search.fullmenu-right { width: 0; height: 100%; top: 0; right: 0; }
.opilsol-N2 .header-search.fullmenu-left { width: 0; height: 100%; top: 0; left: 0; }
.opilsol-N2 .header-search.fullmenu-top { top: 0; left: 0; width: 100%; height: 0; }
.opilsol-N2 .header-search.fullmenu-bottom { bottom: 0; left: 0; width: 100%; height: 0; }
.opilsol-N2 .header-search.fullmenu-active { padding-bottom: 10.6rem; width: 100%; height: auto; opacity: 1; visibility: visible; }
.opilsol-N2 .fullmenu-wrapper { position: relative; top: 2.6rem; width: 100%; margin: 0 auto; padding: 0 8rem; }
.opilsol-N2 .header-search-wrap { margin-top: -20rem; width: 100%; }
.opilsol-N2 .header-search-form { display: flex; height: 18.6rem; width: 100%; justify-content: center; align-items: center; background-color: var(--white); }
.opilsol-N2 .header-search-form .inputset { width: 62rem; }
.opilsol-N2 .header-search-form .icon-search { position: absolute; top: 0; right: 0; width: 3.2rem; height: 3.2rem; }
.opilsol-N2 .header-search-form .icon-search::after { content: ""; display: inline-block; margin-top: 0.7rem; width: 3.2rem; height: 3.2rem; background: url("../icons/ico_search_black.svg") no-repeat center right/cover; }
.opilsol-N2 .recom-list .recom-tit { margin-bottom: 1.6rem; text-align: center; font-size: var(--fs-h5); font-family: var(--ff-ko); font-weight: 600; letter-spacing: 0.025rem; }
.opilsol-N2 .recom-list ul { display: flex; justify-content: center; flex-wrap: wrap; }
.opilsol-N2 .recom-list ul li { margin: 0.4rem; border: 0.1rem solid var(--line-color1); }
.opilsol-N2 .recom-list ul li a { padding: 0.8rem 1.6rem; text-align: center; font-size: var(--fs-p1); font-family: var(--ff-ko); font-weight: 400; }
.opilsol-N2 .recom-list ul li.on { border-color: var(--primary); }
.opilsol-N2 .recom-list ul li.on a { color: var(--primary); }
@media (max-width: 1366px) {
 .opilsol-N2 .header-container { padding: 0 1.6rem; }
 .opilsol-N2 .fullmenu-head { margin-bottom: 10rem; }
 .opilsol-N2 .fullmenu-gnblink { font-size: var(--ht-sm); }
}
@media (max-width: 1024px) {
 .opilsol-N2 { height: 6rem; }
 .opilsol-N2 .header-title a { width: 13rem; height: 2.8rem; }
 .opilsol-N2 .header-container { padding: 0 1.6rem; height: 6rem; }
 .opilsol-N2 .header-center { height: calc(100vh - 6rem); overflow-y: auto; }
 .opilsol-N2 .header-utils button { margin-left: 0.8rem; width: 2.8rem; height: 2.8rem; }
 .opilsol-N2 .header-gnblist { display: none; width: 100%; flex-direction: column; }
 .opilsol-N2 .header-gnblink { display: flex; align-items: flex-end; width: 100%; padding: 2rem 0; text-align: left; }
 .opilsol-N2 .header-gnbitem:hover .header-gnblink span { border: none; }
 .opilsol-N2 .header-sublist { display: none; position: relative; padding: 2rem 0 4rem 0; }
 .opilsol-N2 .header-gnbitem.item-active .header-sublist { display: block; height: auto; margin: 0; }
 .opilsol-N2 .header-gnbitem.item-active .header-gnblink { border-bottom: 1px solid var(--white); }
 .opilsol-N2 .header-subitem+.header-subitem { padding-top: 0.8rem; }
 .opilsol-N2 .header-sublink { padding: 0; color: var(--text-color3); }
 .opilsol-N2 .header-sublink:active { color: var(--text-color5); }
 .opilsol-N2 .fullmenu-wrapper { top: 1.6rem; }
 .opilsol-N2 .fullmenu-head { margin-bottom: 8rem; }
 .opilsol-N2 .fullmenu-subitem+.fullmenu-subitem { padding-top: 1.6rem; }
 .opilsol-N2 .fullmenu-wrapper { padding: 0; }
 .opilsol-N2 .fullmenu-close { right: 1.6rem; }
 .opilsol-N2 .header-search-wrap { margin-top: -8rem; }
}
@media (max-width: 922px) {
 .opilsol-N2 .fullmenu-wrapper { top: 1rem; }
 .opilsol-N2 .fullmenu-title a { width: 13rem; height: 2.8rem; }
 .opilsol-N2 .fullmenu-gnblist { flex-direction: column; }
 .opilsol-N2 .fullmenu-gnbitem { margin-bottom: 2.3rem; width: 100%; }
 .opilsol-N2 .fullmenu-gnbitem+.fullmenu-gnbitem { margin-bottom: 2.3rem; margin-left: 0; }
 .opilsol-N2 .fullmenu-gnblink { padding-bottom: 2.3rem; }
 .opilsol-N2 .fullmenu-sublist { display: none; padding: 2rem 0; }
 .opilsol-N2 .fullmenu-close { top: 1rem; }
 .opilsol-N2 .header-search { padding: 0 1.6rem; }
 .opilsol-N2 .header-search.fullmenu-active { padding-bottom: 6.6rem; }
 .opilsol-N2 .header-search-form { height: 11.3rem; }
 .opilsol-N2 .header-search-form .icon-search::after { width: 2.4rem; height: 2.4rem; }
 .opilsol-N2 .recom-list ul li { margin: 0.2rem; }
 .opilsol-N2 .recom-list ul li a { padding: 0.4rem 0.8rem; }
}

/* opilsol-N30 [vzLpwCWK7e] */
.opilsol-N30 .content-container { margin-bottom: 8rem; padding: 19rem 0 8rem; }
.opilsol-N30 .content-top { margin-bottom: 8rem; padding: 0; }
.opilsol-N30 .content-top .textset-tit { margin-bottom: 3.9rem; text-align: center; line-height: 7.1rem; font-size: var(--ht-md); }
.opilsol-N30 .content-top .step-list { display: flex; justify-content: center; margin: 0 auto; padding: 1.5rem 8.7rem; max-width: 62rem; background-color: var(--con-bg-gray); counter-reset: num 0; }
.opilsol-N30 .content-top .step-list li { position: relative; margin: 0 3rem; font-size: var(--fs-h6); font-weight: 500; color: var(--text-color4); letter-spacing: -0.1rem; }
.opilsol-N30 .content-top .step-list li::before { margin-right: 0.5rem; counter-increment: num; content: "0" counter(num); font-weight: 500; font-family: var(--ff-po); color: var(--text-color4); }
.opilsol-N30 .content-top .step-list li.active { color: var(--text-color1); }
.opilsol-N30 .contents-form { margin: 0 auto; max-width: 62rem; }
.opilsol-N30 .contents-form-top { display: flex; justify-content: space-between; align-items: flex-end; padding-bottom: 1.6rem; border-bottom: 1px solid var(--line-color3); }
.opilsol-N30 .contents-form .inputset-tit { line-height: var(--lh-h5); font-size: var(--fs-h4); }
.opilsol-N30 .checkset .checkset-input+.checkset-label { width: var(--fs-h5); height: var(--fs-h5); background: url("../icons/ico_check.svg") center/contain no-repeat; }
.opilsol-N30 .checkset .checkset-input.input-round+.checkset-label::before { font-size: var(--fs-h5); }
.opilsol-N30 .checkset .checkset-text { line-height: var(--lh-p1); font-size: var(--fs-p1); font-weight: 500; }
.opilsol-N30 .accordset .accordset-header { display: flex; justify-content: space-between; padding: 1.6rem 0; }
.opilsol-N30 .accordset-header::after { content: ""; }
.opilsol-N30 .accordset .accordset-header .checkset { width: 100%; }
.opilsol-N30 .accordset .accordset-header .checkset-text { font-size: var(--fs-p1); }
.opilsol-N30 .accordset .accordset-button { position: relative; display: inline-block; margin-left: auto; padding: 0; width: auto; font-size: var(--fs-p1); color: var(--text-color3); }
.opilsol-N30 .accordset .accordset-button::after { content: ""; position: absolute; left: 0; bottom: 2px; width: 70%; height: 1px; background-color: var(--text-color3); }
.opilsol-N30 .bottom-btn { margin-top: 8rem; text-align: center; }
.opilsol-N30 .bottom-btn .btnset-lg { padding: 0 4.548rem; }
@media (max-width: 1024px) {
 .opilsol-N30 .content-container { margin-bottom: 6rem; padding: 12rem 0 4rem; }
 .opilsol-N30 .container-md { padding: 0 1.6rem; }
 .opilsol-N30 .content-top { margin-bottom: 4rem; }
 .opilsol-N30 .bottom-btn { margin-top: 4rem; }
}
@media (max-width: 922px) {
 .opilsol-N30 .content-top { padding: 0; }
 .opilsol-N30 .content-top .textset-tit { margin-bottom: 2rem; line-height: 4.7rem; font-size: var(--ht-sm); }
 .opilsol-N30 .content-top .step-list { padding: 1.5rem; }
 .opilsol-N30 .content-top .step-list li { margin: 0 1rem; }
 .opilsol-N30 .contents-form-top { padding-bottom: 0.8rem; }
 .opilsol-N30 .bottom-btn .btnset-lg { padding: 0 3.93rem; max-width: 16rem; white-space: nowrap; }
}

/* opilsol-N32 [KvlQ1N0u18] */
.opilsol-N32 .content-container { margin: 0 auto 8rem; padding: 19rem 0 8rem; }
.opilsol-N32 .content-top { margin-bottom: 8rem; padding: 0; }
.opilsol-N32 .content-top .textset-tit { margin-bottom: 3.9rem; text-align: center; line-height: 7.1rem; font-size: var(--ht-md); }
.opilsol-N32 .content-top .step-list { display: flex; justify-content: center; margin: 0 auto; padding: 1.5rem 8.7rem; max-width: 62rem; background-color: var(--con-bg-gray); counter-reset: num 0; }
.opilsol-N32 .content-top .step-list li { position: relative; margin: 0 3rem; font-size: var(--fs-h6); font-weight: 500; color: var(--text-color4); letter-spacing: -0.1rem; }
.opilsol-N32 .content-top .step-list li::before { counter-increment: num; content: "0" counter(num); margin-right: 0.5rem; font-weight: 500; font-family: var(--ff-po); color: var(--text-color4); }
.opilsol-N32 .content-top .step-list li.active { color: var(--text-color1); }
.opilsol-N32 .content-group { margin: 0 auto; max-width: 62rem; text-align: center; }
.opilsol-N32 .content-group .contents-icon { margin-bottom: 3rem; }
.opilsol-N32 .content-group .contents-icon .contents-figure { margin: 0 auto; width: 8rem; height: 8rem; }
.opilsol-N32 .content-group .contents-icon .contents-figure .cardset-img { width: 100%; height: 100%; object-fit: cover; }
.opilsol-N32 .content-group .textset-tit { margin-bottom: 1.9rem; line-height: var(--lh-h2); font-size: var(--ht-md); font-weight: 500; }
.opilsol-N32 .content-group .contents-message { line-height: var(--lh-h6); font-size: var(--fs-h6); color: var(--text-color3); }
.opilsol-N32 .bottom-btn { margin-top: 7rem; text-align: center; }
.opilsol-N32 .bottom-btn .btnset-lg { padding: 0 4.6rem; max-width: 18.4rem; white-space: nowrap; }
@media (max-width: 1024px) {
 .opilsol-N32 .content-container { margin-bottom: 6rem; padding: 12rem 0 4rem; }
 .opilsol-N32 .container-md { padding: 0 1.6rem; }
 .opilsol-N32 .content-top { margin-bottom: 4rem; }
}
@media (max-width: 922px) {
 .opilsol-N32 .content-top { padding: 0; }
 .opilsol-N32 .content-top .textset-tit { margin-bottom: 2rem; line-height: 4.7rem; font-size: var(--ht-sm); }
 .opilsol-N32 .content-top .step-list { padding: 1.5rem; }
 .opilsol-N32 .content-top .step-list li { margin: 0 1rem; }
 .opilsol-N32 .content-group .contents-icon, .opilsol-N32 .content-group .contents-icon .contents-figure { margin-bottom: 0; }
 .opilsol-N32 .content-group .contents-icon .contents-figure { width: 6rem; height: 6rem; }
 .opilsol-N32 .content-group .textset-tit { margin-bottom: 0; font-size: var(--fs-h3); line-height: 4.6rem; }
 .opilsol-N32 .content-group .contents-message { padding: 0 4rem; }
 .opilsol-N32 .content-group .inline { display: block; }
 .opilsol-N32 .bottom-btn { margin-top: 4rem; font-size: 0; }
 .opilsol-N32 .bottom-btn .btnset-lg { padding: 0 5rem; width: 16rem; }
}

/* opilsol-N24 [EWLQc7iXZf] */
.opilsol-N24 table { table-layout: fixed; }
.opilsol-N24 .tableset .tableset-table> :not(caption):not(colgroup)>*>* { padding: 1.3rem 2.4rem; }
.opilsol-N24 .table .thead-border-top .number,.opilsol-N24 .table tbody .number { padding: 1.3rem; width: 10rem; min-width: 10rem; text-align: center; line-height: var(--lh-h6); font-size: var(--fs-p1); font-family: var(--ff-po); color: var(--text-color7); }
.opilsol-N24 .table .thead-border-top .last-child,.opilsol-N24 .table tbody .last-child { margin-left: auto; width: 12rem; min-width: 12rem; line-height: var(--lh-h6); text-align: center; font-size: var(--fs-p1); color: var(--text-color7); }
.opilsol-N24 .table .thead-border-top th:nth-of-type(2) { text-align: center; color: var(--text-color1); }
.opilsol-N24 .table tbody td:nth-of-type(2) a { overflow: hidden; display: block; text-align: left; white-space: nowrap; text-overflow: ellipsis; color: var(--text-color1); }
.opilsol-N24 .table tr:hover td { background-color: var(--con-bg-gray); }
.opilsol-N24 .pagiset { margin-top: 8rem; }
.opilsol-N24 .pagiset-link { font-family: var(--ff-en); font-weight: 400; }
@media (max-width: 1366px) {
 .opilsol-N24 .container-md { padding: 0 1.6rem; }
}
.th-layout-main {


 .th-layout-main {
     display: flex;
     justify-content: space-around;
     align-items: stretch;
     min-height: 100vh;
 }

@media (max-width: 1024px) {
 .opilsol-N24 .content-container { margin-bottom: 6rem; padding: 4rem 0; }
 .opilsol-N24 .table .thead-border-top, .opilsol-N24 .table .number { display: none; }
 .tableset .tableset-table { min-width: 0; }
 .opilsol-N24 .tableset .tableset-table> :not(caption):not(colgroup)>*>* { padding: 0 0 0.5rem 0; }
 .opilsol-N24 .table tbody tr { display: flex; flex-direction: column; width: calc(100vw - 3.2rem); }
 .opilsol-N24 .table tbody tr:first-child { border-top: 1px solid var(--line-color3); }
 .opilsol-N24 .table tbody td:nth-of-type(2) { padding: 0.8rem 0 0; border-bottom: 0 none; }
 .opilsol-N24 .table tbody .last-child { width: 100%; text-align: left; }
 .opilsol-N24 .pagiset { margin-top: 4rem; }
 .opilsol-N24 .pagiset-link { width: 3.2rem; height: 3.2rem; }
}


 .check-text {
  padding: 140px;
  font-size: 12px;
 }
.check-stext {
 padding: 10px;
 font-size: 12px;
 argin-top: 5px;
}
.check-image {
 font-size: 12px;
}
.drop-area {
 border: 2px dashed #ccc;
 padding: 20px;
 text-align: center;
 cursor: pointer;
}

.drop-text {
 display: block;
 margin-bottom: 10px;
}

.file-list {
 list-style-type: none;
 padding: 0;
}

.file-list img {
 width: 200px;
 height: 200px;
 margin: 5px;
}
