<!-- resources/mapper/BookmarkMapper.xml -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cornstory.service.work.BookmarkDao">

    <!-- resultMap 정의 -->
    <resultMap id="bookmarkResultMap" type="bookmark">
        <id property="bookmarkNo" column="bookmark_no"/>
        <result property="userId" column="user_id"/>
        <result property="workNo" column="work_no"/>
    </resultMap>

    <!-- 삽입 쿼리 -->
    <insert id="addBookmark" parameterType="bookmark">
        INSERT INTO bookmark (user_id, work_no)
        VALUES (#{userId}, #{workNo})
    </insert>

    <!-- 삭제 쿼리 -->
    <delete id="deleteBookmark" parameterType="bookmark">
        DELETE FROM bookmark
        WHERE bookmark_no = #{bookmarkNo} AND user_id = #{userId}
    </delete>

    <!-- 조회 쿼리 by bookmark_no -->
    <select id="getBookmarkByNo" parameterType="int" resultMap="bookmarkResultMap">
        SELECT bookmark_no, user_id, work_no
        FROM bookmark
        WHERE bookmark_no = #{bookmarkNo}
    </select>

    <!-- 조회 쿼리 by user_id -->
    <select id="getBookmarksByUserId" parameterType="string" resultMap="bookmarkResultMap">
        SELECT bookmark_no, user_id, work_no
        FROM bookmark
        WHERE user_id = #{userId}
    </select>


</mapper>
