<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.cornstory.service.chat.ChatDao">

	<resultMap type="chatSpace" id="chatSelectMap">
		<result property="chatSpaceNo" column="chat_space_no" jdbcType="INTEGER"/>
		<result property="userId" column="user_id" jdbcType="VARCHAR"/>
		<result property="cSpaceName" column="c_space_name" jdbcType="VARCHAR"/>
		<result property="cSpaceImage" column="c_space_image" jdbcType="VARCHAR"/>
		<result property="cSpaceUserCnt" column="c_space_user_cnt" jdbcType="INTEGER"/>
		<result property="cSpaceDate" column="c_space_date" jdbcType="DATE"/>
		<result property="genre" column="genre" jdbcType="VARCHAR"/>
		<result property="nickname" column="nickname" jdbcType="VARCHAR"/>
		<result property="userImage" column="user_image" jdbcType="VARCHAR"/>
		<result property="chatEnterNo" column="chat_enter_no" jdbcType="INTEGER"/>
		<result property="chatEnterDate" column="chat_enter_date" jdbcType="DATE"/>
	</resultMap>

	<insert id="addChatSpace" parameterType="chatSpace" useGeneratedKeys="true"
			keyProperty="chatSpaceNo" keyColumn="chat_space_no">
		INSERT
		INTO chat_space (user_id, c_space_name, c_space_image, c_space_date, genre)
		VALUES (
				    #{userId},
				    #{cSpaceName},
				    #{cSpaceImage},
		        	DATE_FORMAT(NOW(), '%Y-%m-%d'),
		        	#{genre}	)
	</insert>

	<select id="getChatSpace" parameterType="int" resultMap="chatSelectMap">
		SELECT *
		FROM chat_space
		WHERE chat_space_no = #{chatSpaceNo}
	</select>

	<update id="updateChatSpace" parameterType="chatSpace">
		UPDATE chat_space
		<trim prefix="set" suffixOverrides=",">
			<if test='cSpaceName != null and !cSpaceName.equals("")'>
				c_space_name = #{cSpaceName},
			</if>
			<if test='cSpaceImage != null and !cSpaceImage.equals("")'>
				c_space_image = #{cSpaceImage},
			</if>
		    <if test='cSpaceUserCnt != 0'>
				c_space_user_cnt = c_space_user_cnt + #{cSpaceUserCnt}
			</if>

		</trim>
		WHERE chat_space_no = #{chatSpaceNo}
	</update>

	<delete id="deleteChatSpace" parameterType="int">
		DELETE
		FROM chat_space
		WHERE chat_space_no = #{chatSpaceNo}
	</delete>

	<select id="countChatSpace" parameterType="map" resultType="int">
		SELECT COUNT(*) AS totalCount
		FROM (SELECT chat_space_no, U.user_id, c_space_name, c_space_image,
					c_space_user_cnt, c_space_date, genre, nickname, user_image
		      FROM  chat_space CS JOIN user U ON CS.user_id = U.user_id
				<where>
					<if test='search.searchCondition != null and !search.searchCondition.equals("")
							and search.searchKeyword != null and !search.searchKeyword.equals("")'>
						<if test='search.searchCondition.equals("1")'>
							AND LOWER(c_space_name) LIKE LOWER(CONCAT('%', #{search.searchKeyword},'%'))
						</if>
					</if>
					<if test='userId != null and !userId.equals("")'>
						AND U.user_id = #{userId}
					</if>
					<if test='genre != null and !genre.equals("")'>
						AND genre = #{search.searchKeyword}
					</if>
				</where>
		) countTable
	</select>

	<select id="listChatSpace" parameterType="map" resultMap="chatSelectMap">
		SELECT *
		FROM (SELECT inner_table.*, @rownum := @rownum + 1 AS row_seq
				FROM (SELECT DISTINCT CS.chat_space_no, CS.user_id, c_space_name, c_space_image,
						c_space_user_cnt, c_space_date, genre, nickname, user_image
						FROM chat_space CS JOIN user U ON CS.user_id = U.user_id
											JOIN chat_enter CE ON CE.chat_space_no = CS.chat_space_no
						<where>
							<if test='search.searchCondition != null and !search.searchCondition.equals("")
									and search.searchKeyword != null and !search.searchKeyword.equals("")'>
								<if test='search.searchCondition.equals("1")'>
									AND LOWER(c_space_name) LIKE LOWER(CONCAT('%', #{search.searchKeyword},'%'))
								</if>
							</if>
							<if test='userId != null and !userId.equals("")'>
								AND U.user_id = #{userId}
							</if>
							<if test='genre != null and !genre.equals("")'>
								AND genre = #{genre}
							</if>
							<if test='enterUserId != null and !enterUserId.equals("")'>
								AND CE.user_id = #{enterUserId}
							</if>
						</where>
				) inner_table, (SELECT @rownum := 0) r
				LIMIT #{endRowNum}
		) AS result
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
	</select>

	<insert id="addChatEnter" parameterType="chatSpace">
		INSERT
		INTO chat_enter (chat_space_no, user_id, chat_enter_date)
		VALUES (
				   #{chatSpaceNo},
				   #{userId},
				   DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i'))
	</insert>

	<delete id="deleteChatEnter" parameterType="map">
		DELETE
		FROM chat_enter
		<where>
			<if test='chatSpaceNo != 0 and userId != null and !userId.equals("")'>
				chat_space_no = #{chatSpaceNo} AND user_id = #{userId}
			</if>
			<if test='chatSpaceNo != 0 and (userId == null or userId.equals(""))'>
				chat_space_no = #{chatSpaceNo}
			</if>
		</where>
	</delete>

	<select id="countChatEnterUser" parameterType="int" resultType="int">
		SELECT COUNT(*) AS totalCount
		FROM (SELECT chat_enter_no, chat_space_no, U.user_id,
					 user_image, chat_enter_date, nickname
		      FROM chat_enter CE JOIN user U ON CE.user_id = U.user_id
				WHERE chat_space_no = #{chatSpaceNo}
		) countTable
	</select>

	<select id="listChatEnterUser" parameterType="int" resultMap="chatSelectMap">
		SELECT chat_enter_no, chat_space_no, U.user_id,
				user_image, chat_enter_date, nickname
		FROM chat_enter CE JOIN user U ON CE.user_id = U.user_id
		WHERE chat_space_no = #{chatSpaceNo}
	</select>


	<select id="countChatEnterCheck" parameterType="map" resultType="int">
		SELECT count(*)
		FROM chat_enter
		WHERE chat_space_no = #{chatSpaceNo} AND user_id = #{userId}
	</select>

</mapper>