<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cornstory.service.story.StoryDao">

    <!-- resultMap 설정 -->
    <resultMap id="storyResultMap" type="story">
        <result property="storyNo" column="story_no" />
        <result property="userId" column="user_id" />
        <result property="storyName" column="story_name" />
        <result property="storyContent" column="story_content" />
        <result property="storyDate" column="story_date" />
        <result property="storyImage" column="story_image" />
    </resultMap>

    <!-- 스토리 수정할 때 자기 글 가져오기 -->
    <select id="getStory" parameterType="int" resultMap="storyResultMap">
        SELECT * FROM story WHERE story_no = #{storyNo}
    </select>

    <!-- 스토리 추가 -->
    <insert id="addStory" parameterType="story">
        INSERT INTO story (user_id, story_name, story_content, story_date, story_image)
        VALUES (#{userId}, #{storyName}, #{storyContent}, now(), #{storyImage})
    </insert>

    <!-- 스토리 수정-->
    <update id="updateStory" parameterType="story">
        UPDATE story
        SET user_id = #{userId}, story_name = #{storyName}, story_content = #{storyContent},
            story_date = #{storyDate}, story_image = #{storyImage}
        WHERE story_no = #{storyNo}
    </update>

    <!-- 스토리 삭제 -->
    <delete id="deleteStory" parameterType="int">
        DELETE FROM story WHERE story_no = #{storyNo}
    </delete>

    <!-- 전체 스토리 목록-->
    <select id="listStory" resultMap="storyResultMap">
        SELECT * FROM story
    </select>

    <!-- 마이 스토리 확인-->
    <select id="getMyStory" parameterType="String" resultMap="storyResultMap">
        SELECT * FROM story WHERE user_id = #{userId}
    </select>


</mapper>
