<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
 					
<mapper namespace="com.cornstory.service.product.ProductDao">
  	
  	<insert id="addProduct" parameterType="product">
		INSERT 
		INTO PRODUCT (work_no, episode_no, user_id, prod_category, prod_name, prod_price, prod_cnt, prod_image, prod_date)
		VALUES (
					#{workNo},
					#{episodeNo}, 
					#{userId},
					#{prodCategory}, 
					#{prodName}, 
					#{prodPrice}, 
					#{prodCnt}, 
					#{prodImage}, 
					SYSDATE);	
  	</insert>
  	
  	
</mapper>